defaultRules:
  create: true
  # rules:
  #   kubeControllerManager: false
  #   kubeProxy: false
  #   kubeSchedulerAlerting: false
  #   alertmanager: false
  # disabled:
  #   KubeControllerManagerDown: true
  #   KubeProxyDown: true
  #   KubeSchedulerDown: true
  #   CPUThrottlingHigh: true
  #   AlertmanagerDown: true
  #   AlertmanagerClusterDown: true

prometheus:
  prometheusSpec:
    replicas: 1
    scrapeInterval: 30s
    evaluationInterval: 15s
    serviceMonitorSelector: {}
    serviceMonitorNamespaceSelector: {}
    serviceMonitorSelectorNilUsesHelmValues: false
    ruleSelector: {}
    ruleNamespaceSelector: {}
    ruleSelectorNilUsesHelmValues: false
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: local-path
          resources:
            requests:
              storage: 20Gi
    resources:
      requests:
        memory: "768Mi"
        cpu: "100m"

alertmanager:
  enabled: true

grafana:
  defaultDashboardsTimezone: "Europe/Paris"
  admin:
    existingSecret: grafana-admin-secret
    existingSecretUserKey: admin-user
    existingSecretPasswordKey: admin-password
  grafana.ini:
    server:
      root_url: "%(protocol)s://%(domain)s/"
  additionalDataSources:
    - name: Loki
      type: loki
      url: http://loki.monitoring.svc.cluster.local:3100
      access: proxy
      isDefault: true
