defaultRules:
  create: true
  rules:
    kubeControllerManager: false # Règles problématiques pour k3s
    kubeProxy: false
    kubeSchedulerAlerting: false
    alertmanager: false
  disabled:
    KubeControllerManagerDown: true
    KubeProxyDown: true
    KubeSchedulerDown: true # Jusqu'à ici toutes les règles sont problm avec k3s
    CPUThrottlingHigh: true
    AlertmanagerDown: true
    AlertmanagerClusterDown: true

prometheus:
  prometheusSpec:
    replicas: 1
    scrapeInterval: 15s
    evaluationInterval: 15s
    serviceMonitorSelector: {}
    serviceMonitorNamespaceSelector: {}
    serviceMonitorSelectorNilUsesHelmValues: false
    ruleSelector: {}
    ruleNamespaceSelector: {}
    ruleSelectorNilUsesHelmValues: false
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: local-path
          resources:
            requests:
              storage: 20Gi

alertmanager:
  enabled: false

grafana:
  defaultDashboardsTimezone: "Europe/Paris"
  admin:
    existingSecret: grafana-admin-secret
    existingSecretUserKey: admin-user
    existingSecretPasswordKey: admin-password
  grafana.ini:
    server:
      root_url: "%(protocol)s://%(domain)s/"
