ports:
  web:
    port: 80
    expose: true
    exposedPort: 80
  websecure:
    port: 443
    expose: true
    exposedPort: 443
    tls:
      enabled: true

tlsStore:
  default:
    defaultCertificate:
      secretName: mdlmr-fr-wildcard-tls

logs:
  access:
    enabled: true
